<div class="blade">
	<div class="blade__navigation">
		<ul class="navigation">
			<li class="navigation__item">
				<a routerLink="/lists" routerLinkActive="active">Lists</a>
			</li>
			<li class="navigation__item">
				<a routerLink="/rack" routerLinkActive="active">Rack</a>
			</li>
			<li class="navigation__item">
				<a routerLink="/inputs" routerLinkActive="active">Inputs</a>
			</li>
			<li class="navigation__item">
				<a routerLink="/skeletons" routerLinkActive="active">Skeletons</a>
			</li>
		</ul>
	</div>
	<div class="blade__children">
		<router-outlet></router-outlet>
	</div>
</div>
